@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

::-webkit-scrollbar {
    display: none;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

/* phone */
@media screen and (max-width: 767px) {

}

/* pad */
@media screen and (min-width: 768px) and (max-width: 1024px) {

}

/* computer */
@media screen and (min-width: 1025px) {
    
    body {
        background-color: #17140c;
        overflow: auto;
    }

    header {
        background: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 7%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }
    
    .home-icon {
        position: absolute;
        left: 9%;
        top: 50%;
        transform: translateY(-52%);
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    .p1 {
        overflow: hidden;
        background-image: linear-gradient(to right,  #17140c 30%, transparent 60%), 
                          url('/web2/images/br.png');
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        height: 115vh;
        display: flex;
        transition: filter 0.5s ease;
        z-index: 1;
    }

    .p2 {
        height: 115vh;
        background-color: white;
        opacity: 1;
        display: flex;
        z-index: 0;
        position: relative;
    }
    
    .p2-left {
        flex: 0 0 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    
    .p2-right {
        flex: 0 0 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .p2-right p {
        margin: 5px 0;
    }
    
    .c1 {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        font-size: 48px;
        font-weight: 700;
        color: black;
        width: 100%;
    }
    
    .image-container {
        position: relative;
        width: 60%;
        height: 400px;
        margin: 0 auto;
    }
    
    .p2-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: opacity 0.5s ease-in-out;
    }
    
    .nav-button {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        margin: 0 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: gray;
        border: none;
        border-radius: 50px;
    }
    
    #prev-button {
        left: 160px;
    }
    
    #next-button {
        right: 160px;
    }

    nav {
        display: flex;
        align-items: center;
    }
    
    nav a {
        color: #333;
        text-decoration: none;
        margin: 0 30px;
        font-size: 18px;
    }

    .title {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-70%);
        text-align: center;
    }

    .t1, .t2, .t3 {
        font-family: "Potta One", system-ui;
    }

    .t1 {
        font-size: 70px;
        font-weight: 300;
        color: #bad21f
    }
    
    .t2 {
        font-size: 70px;
        font-weight: 300;
        color: #c8323e
    }

    .t3 {
        transform: translateX(50%); 
        font-weight: 300;
        font-size: 70px;
        color: white;
    }

    footer {
        background-color: #17140c;
        font-size: 12px;
        color: white;
        text-align: right;
        right: 20px;
        padding: 1rem 0;
        position: relative;
        bottom: 0;
        width: 100%;
    }
}

/* body {
    margin: 0;
    height: 100vh;
    background-image: url('/web2/images/background.jpg');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
} */

